* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #ADEAEE;
    --secondary: #F4F4F4;
    --tertiary: #303633;
    --accent: #E086D3;
    --contrast: #009E60;
}

.logo {
    width: 70px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    min-height: 100vh;
    background-color: var(--secondary)
}

main {
    display: flex;
    flex-direction: column;
    color: black;
    margin-top: 100px;

    
}

h1 {
    margin-left: 25px;
    font-size: 4rem;
}

h2 {
    margin-top:20px;
    margin-bottom: 8px;
}

main article {
    border: solid 2px var(--contrast);
    border-radius: 20px;
    padding: 10px;
    margin: 10px 50px;
    background-color: var(--primary);
}

.list {
    margin-left: 12px;
}

/* Responsiv navbar */
header {
    position:fixed;
    top:0;
    left:0;
    right:0;
    background: var(--primary);
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    padding: 10px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    text-transform: uppercase;
}

header .logo {
    font-weight: bolder;
    font-size: 25px;
    color: #333;
}

header .navbar ul {
    list-style: none;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
    text-decoration: none;
    font-size: 20px;
    padding: 18px;
    color: #333;
    display: block;
    background: var(--primary);
}

header .navbar ul li a:hover {
    background: (var(--tertiary));
    color: var(--contrast);
}

header .navbar ul li ul {
    position: absolute;
    width: 220px;
    background: var(--primary);
    display: none;
}

header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid rgba(o,o,o,0.1);
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul {
    display: block;
}

#menu-bar {
    display: none;
}

header label {
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
}

@media(max-width: 940px) {

    header {
        padding: 20px;
    }

    header label {
        display: block;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        border-top: 1px solid rgba(0,0,0,0.1);
        display: none;
        text-align: right;
        justify-content:end;
        text-wrap: wrap;
    }

    header .navbar ul {
        width: 260px;
        display: flex;
        position: absolute;
        right: 0;
        flex-direction: column;
    }

    header .navbar ul li {
        position: relative;
    }

    header .navbar ul li ul {
        margin-top: -60px;
        margin-right: 260px;
        width: 260px;
    }

    header .navbar ul li ul li {
        background: #eee;
    }

    header .navbar ul li ul li ul {
        width: 100%;
        margin-top: -60px;
        margin-right: 260px;
        position: absolute;
    }

    #menu-bar:checked ~ .navbar {
        display: block;
    }

    main {
        margin-top: 130px;
    }

}